@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
    font-family: "Open Sans", sans-serif;
}


.img-post {
    width: 20px;

}

footer {
    min-height: 30vh;
    background-image: url('../src/assets/img/footer-bg.jpg');
    margin: 0;
    width: 100%;
}

.img-bg {

    width: 500px;
}